@property --angle
{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.list::after, .list::before
{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: red;
    background-image: conic-gradient(from var(--angle), #ff4545, #00ff99, #006aff, #ff0095, #ff4545);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 0.2em;
    animation: 3s spin linear infinite;
}

.list::before
{
    filter: blur(1rem);
    opacity: 0.5;
}

.proyectos_divs::after, .proyectos_divs::before
{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: red;
    background-image: conic-gradient(from var(--angle), #ff4545, #00ff99, #006aff, #ff0095, #ff4545);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 0.2em;
    border-radius: 0.5em;
    animation: 3s spin linear infinite;
}

.proyectos_divs::before
{
    filter: blur(1rem);
    opacity: 0.5;
}

.instituciones::after, .instituciones::before
{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: red;
    background-image: conic-gradient(from var(--angle), #ff4545, #00ff99, #006aff, #ff0095, #ff4545);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 0.2em;
    border-radius: 1.5em;
    animation: 3s spin linear infinite;
}

.instituciones::before
{
    filter: blur(1rem);
    opacity: 0.5;
}


.contacto::after, .contacto::before
{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: red;
    background-image: conic-gradient(from var(--angle), #ff4545, #00ff99, #006aff, #ff0095, #ff4545);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 0.2em;
    border-radius: 0.5em;
    animation: 3s spin linear infinite;
}

.contacto::before
{
    filter: blur(1rem);
    opacity: 0.5;
}

.btn_contacto
{
    position: relative;
    z-index: 0;
}

.btn_contacto::after
{
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #2d293e;
    left: 0;
    top: 0;
    border-radius: 3em;
}

.btn_contacto::before
{
    content: "";
    background: linear-gradient(
        45deg,
        #FF0000, #FF7300, #FFFB00, #48FF00,
        #00FFD5, #002BFF, #FF00C8, #FF0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    filter: blur(0.3em);
    animation: glowing 20s linear infinite;
    transition: opacity .3s ease-in-out;
    border-radius: 3em;
    opacity: 0;
}

@keyframes glowing
{
    0%{background-position: 0 0;}
    50%{background-position: 400% 0;}
    100%{background-position: 0 0;}
}

.btn_contacto:hover::before
{
    opacity: 1;
}

@keyframes spin
{
    from{
        --angle: 0deg;
    }
    to{
        --angle: 360deg;
    }
}

