body
{
    background: radial-gradient(60% 60% at 50% 10%, #221f2f 10%, rgb(13, 13, 13) 100%);
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    position: relative;
    z-index: -10;
    padding: 24px 5px;
    color: white;
}

nav
{
    display: flex;
    justify-content: space-around;
}

nav a
{
    margin: auto 0;
    text-align: center;
    text-decoration: none;
    color: white;
}

.foto_nav
{
    width: 50px;
}

.inicio
{
    display: flex;
    width: 90%;
    margin: 10% auto;
    justify-content: center;
    align-items: center;
}

.nombre
{
    display: block;
    font-family: monospace;
    width: 50%;
    margin: auto 5%;
}

h1
{
    font-size: 8em;
    margin: 0;
}

.nombre p
{
    font-size: 1.3em;
}

.foto_mia
{
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1%;
}

.proyectos
{
    width: 90%;
    margin: 5% auto;
    display: block;
}

.proyectos_divs
{
    display: flex;
    height: 100%;
    border-radius: 0.5em;
    position: relative;
    background-color: #221f2f;
    margin: 7% 0;
    width: 80%;
}

#proyecto_izq
{
    left: 20%;
}

.proyectos .burger_code img
{
    margin-left: 3%;
    margin-right: 0;
}

.proyectos img
{
    width: 50%;
    margin-right: 3%;
}

.proyectos h3
{
    text-align: center;
    margin: 2% 0;
}

.proyectos .burger_code .proyectos_txt 
{
    margin-right: 0;
    margin-left: 3%;
}

.proyectos .proyectos_txt
{
    display: block;
    width: 100%;
    margin-right: 3%;
}

.proyectos .proyectos_tec 
{
    display: flex;
    justify-content: space-around;
    margin: 2% 0;
}

.proyectos .proyectos_tec img
{
    width: 5%;
}


.formacion   
{
    width: 90%;
    margin: 5% auto;
    display: flex;
    justify-content: space-between;
    border: none;
}
h2
{
    margin-top: 10%;
    text-align: center;
}

.formacion div
{
    margin: 2%;
    width: 33%;
    border: none;
    position: relative;
    background-color: #221f2f;
    border-radius: 1.5em;
}

.formacion .formacion_img
{
    display: flex;
    width: 95%;
    border: none;
    margin: 2% auto;
}

.formacion img
{
    width: 95%;
    height: 25em;
    margin: 3%;
    background-color: whitesmoke;
}

.formacion p
{
    width: 100%;
    text-align: center;
    margin: 8% 0;
    font-size: 1.3em;
    line-height: 2em;
}

.contacto {
    width: 90%;
    display: flex;
    margin: 5% auto;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #221f2f;
    border-radius: 0.5em;
}

.contacto .contacto_img {
    display: flex;
    width: 70%;
    justify-content: center;
    align-items: center;
    margin-left: 0; /* Asegúrate de que no haya margen adicional que desplace la imagen */
}

.contacto .contacto_img img {
    max-width: 70%;
    height: auto;
    display: block;
}

.contacto_txt {
    display: inline-block;
    margin: auto 5%;
    width: 30%;
    border: none;
}

.contacto_txt a
{
    text-decoration: none;
}

.contacto_txt div
{
    background-color: whitesmoke;
    border: none;
    display: flex;
    padding: 2% 0;
}

.contacto_txt img
{
    margin: auto 3%;
}

.contacto_txt span
{
    margin: auto 2%;
    font-size: 1.3em;
    color: black;
}
