*
{
    margin: 0;
}

.foto_nav
{
    width: 50px;
}

.inicio
{
    display: flex;
}

.nombre
{
    display: block;
    height: auto;
    font-family: monospace;
    white-space: nowrap;
    border-right: 4px solid;
    width: 12ch;
    animation: typing 2s steps(12),
    blink .5s infinite step-end alternate;
    overflow: hidden;
}

@keyframes typing
{
    from{width: 0;}
}

@keyframes blink
{
    50% {border-color: transparent;}
}

.foto_mia
{
    width: 300px;
}

.formacion   
{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
h2
{
    margin-top: 10%;
    text-align: center;
}

.formacion div
{
    margin: 2%;
    width: 33%;
    border: 2px solid green;
}

.formacion img
{
    width: 95%;
    height: 300px;
    margin: 3%;
}

.formacion p
{
    width: 100%;
    text-align: center;
    margin: 5% 0;
}

.contacto p
{
    display: inline-block;
}